@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --cor1: #5e548e;
  --cor2: #49a09d;
  --cor-botao-hover: #2d6462;
  --cor-botao-esqueci-senha: #6cd3cf;
  --cor-caixas-input: #94cfcd;
}

body, html {
  background-color: var(--cor1);
  height: 100vh;
  width: 100vw;
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

section#login {
  background-color: white;
  width: 260px;
  height: 500px;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

  /* Essas configs devem vir por último para evitar imcompatibilidade*/
  transform: translate(-50%, -50%);
  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background: var(--cor1) url('../imagens/segunda-imagem.jpg') no-repeat;
  height: 200px;
  background-size: cover;
  background-position: left center;

}

section#login > div#formulario {
  display: block;
  padding: 10px;

}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
  margin: 10px 0px;
}

form > div.campo {
  background-color: var(--cor1);
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin: 5px 0px;
  border: 2px solid var(--cor1);
}

div.campo > label {
  display: none;
}

div.campo > span {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

div.campo > input {
  background-color: var(--cor-caixas-input);
  font-size: 1em;
  /* Usamos calc para que as caixas de texto dos inputs caiba na div junto com os ícones*/
  width: calc(100% - 44.4px);
  height: 100%;
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  /* Vai fazer as caixas de texto subirem para encaixarem na div*/
  /* Para evitar imcompatibilidade, essa config deve ser sempre a última*/
  transform: translateY(-13px);

}

div.campo > input:focus-within {
  background-color: white;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: var(--cor2);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: var(--cor-botao-hover);
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  color: var(--cor2);
  width: 100%;
  height: 40px;
  padding-top: 5px;
  background-color: white;
  border: 1px solid var(--cor-botao-hover);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
}

form > a.botao > span {
  font-size: 0.8em;
}

form > a.botao:hover {
  background-color: var(--cor-botao-hover);
  color: white;
}